.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game-cells {
  display: flex;
}

.game-cols {
  display: flex;
  flex-direction: column;
}

.game-cell {
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid #c0c0c0;
}

.game-cell--alive {
  background-color: black;
}

.game-cell--dead {
  background-color: white;
}


